body {
  &.full_width_layout {
    background-color: #ffffff;

    .page-wrapper {
      max-width: 100%;
    }
  }

  &.boxed_layout2 {
    .page-wrapper {
      width: 1280px;
      max-width: 100%;
      margin: 24px auto;
      border-radius: 8px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  &.boxed_layout1 {
    .page-wrapper {
      width: 1280px;
      max-width: 100%;
      margin: 0 auto;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
}

.navigation {
  .level0 > .level-top {
    text-transform: uppercase;
    font-weight: 600;
  }
}